* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color:white;
    height: 100vh; /* Altura total da tela */
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    background-color: gray;
   
    
}

.container {
    width: 90%; /* Largura do contêiner */
    max-width: 600px; /* Largura máxima */
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px; /* Espaço entre os botões */
}

button:hover {
    background-color: #218838;
}

.result {
    margin-top: 15px;
    padding: 1px;
    background-color: black;
    border-radius:  5px;
}

.records {
    margin-top: 20px;
}

.record {
    background-color: gray;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid black;
}
